* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #728a6a;
  color: #beceb8;
  font-family: "Times New Roman", Times, serif;
  min-height: 100vh;
}

header h1 {
  font-size: 5rem;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  grid-template-rows: auto auto;
}

.grid-item1-clock {
  background-color: #beceb8;
  grid-row: span 18;
  margin-left: 40px;
  border-radius: 30px;
  text-align: center;
  padding-top: 50px;
}
#date {
  font-size: 30px;
  color: #728a6a;
}

#time {
  font-size: 200px;
  color: #728a6a;
}
.grid-item2 {
  padding: 20px;
  background-color: #beceb8;
  grid-row: span 36;
  margin-right: 40px;
  border-radius: 30px;
}

.grid-item3 {
  background-color: #beceb8;
  grid-row: span 18;
  margin-left: 40px;
  border-radius: 30px;
}

.input-container {
  display: flex;
  align-items: center;
}

.select-container {
  margin-left: 10px;
}

.todo-input-button {
  width: calc(100% - 60px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 10px;
  color: #caba9c;
  font-family: "Times New Roman", Times, serif;
  border-radius: 60px;
}

.todo-input-button[type="submit"] {
  width: 40px;
  height: 40px;
  background-color: #728a6a;
  color: #beceb8;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  margin-left: 10px;
}

.select-box {
  color: #beceb8;
  background-color: #728a6a;
  width: 100px;
  height: 40px;
  border-radius: 60px !important;
  overflow: hidden;
  border: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #beceb8;
  background-color: transparent;
  width: 100px;
  height: 40px;
  border-radius: 60px !important;
  overflow: hidden;
  border: 0;
  outline: 0;
  padding-left: 15px;
}

#todo-input {
  border-radius: 20px;
  border: none;
  width: 565px;
  height: 40px;
  padding-left: 20px;
  background-color: #728a6a;
  color: #beceb8;
}

::placeholder {
  color: #beceb8;
}

#todo-input:focus {
  outline: 0;
}

.water-tracker {
  text-align: center;
  padding-top: 10px;
  font-size: 50px;
  color: #728a6a;
}

#todo-list {
  font-size: 30px;
  color: #728a6a;
  margin-left: 20px;
  margin-top: 10px;
  list-style-type: none;
  font-weight: bolder;
}

.completed {
  text-decoration: line-through;
  text-decoration-color: #beceb8;
  text-decoration-thickness: 8px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.task-item span {
  flex-grow: 1;
}

.task-item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  text-decoration: none;
  font-weight: small;
  font-size: larger;
  color: #728a6a;
}

.button {
  padding: 35px;
  background-color: transparent;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color ease;
  margin-left: 45px;
}

.button svg {
  width: 30px;
  height: auto;
  margin-top: 5px;
}

.button.active svg path {
  stroke: #beceb8;
  fill: #728a6a;
}
