* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4c6444;
  color: #caba9c;
  font-family: "Times New Roman", Times, serif;
  min-height: 100vh;
}

header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 1rem;
  font-size: 1.8rem;
  border: none;
  background: #102820;
  border-radius: 2rem;
}

form button {
  color: #fcfffe;
  background: #102820;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: 1rem;
}

.fa-plus-circle {
  margin-top: 0.3rem;
  margin-left: -8px;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  padding-left: 0.5rem;
  background: #caba9c;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  border-radius: 2rem;
}

.todo-input {
  color: #caba9c;
  font-family: "Times New Roman", Times, serif;
}

.todo li {
  flex: 1;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
}

select {
  color: #caba9c;
  background: #102820;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
  width: 10rem;
  height: 3.2rem;
  cursor: pointer;
  padding: 1rem;
}
